.mainDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    margin-top: 3rem;
    gap: 3rem;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mainDiv p {
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 4rem;
}

@media (width < 800px) {
    .mainDiv {
        display: block;
    }
}