footer {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-100);
    padding: 2rem;
    margin-top: 5rem;
}

footer h3 {
    margin-bottom: 1rem;
}

.kontinjer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    column-gap: 10rem;
}

.kontinjer div {
    margin-bottom: 3rem;
}

.logo {
    color: #f57624;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer ul li {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
}

/* @media (width < 800px) {
    .kontinjer {
        display: block;
    }
} */