.divContainer {
    /* background-image: radial-gradient(ellipse at top left, #f48f4e, #8a3a06); */
    /* background-color: #8a3a06; */
    margin-top: 96px;
    /* min-height: 80vh; */
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
}

.divContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.divContainer h3 {
    font-weight: 300;
    margin-bottom: 2rem !important;
}

.divContainer h1 {
    margin-bottom: 2rem !important;
}

@media (width < 800px) {
    .divContainer {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}