.divContainer {
    background-image: radial-gradient(ellipse at top left, #f48f4e, #8a3a06);
    /* background-color: #8a3a06; */
    height: 85vh;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* .flexContainer h1 {
    font-size: 2.75rem;
    font-weight: 800;
} */

.flexContainer h3 {
    font-weight: 300;
}