header {
    width: 100%;
    /* background-color: #0c1626; */
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid red;  */
    padding: 0.3rem 2rem;
    font-weight: bold;
}

.dropDown {
    display: none;
}

.logo {
    font-size: 1.5em;
    color: #f57624;
    font-weight: 900;
}

span {
    display: flex;
    gap: 2rem;
}

.optionsContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (width <= 840px) {
    span {
        display: none;
    }

}

@media (width <= 600px) {
    .optionsContainer p {
        display: none;
    }

    .loginButton {
        display: none !important;
    }
    /* nav {
        /* background-color: white; */
        /* color: #3a1700; 
    } */
    .dropDown {
        display: block;
    }
}