@import '../../vars.css';

.main  {
    /* background-color: var(--color-blue-200); */
    padding: 1rem 0;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.heading p {
    margin: 0;
    font-weight: bold;
}

.main ul {
    padding: 0;
    margin: 0;
}

.main ul li {
    font-weight: 300;
}

.arrow {
    transition: all 0.2s ease-in-out;
    transform: rotate(180deg);
}

.arrowDown {
    transform: rotate(360deg);
}

.item {
    list-style-type: none;
    cursor: default;
    padding-inline: 1rem;
    margin-top: 1rem;
}

.item:first-child {

}