.card {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-neutral-400);
    padding: 2rem;
}
.card:hover {
    background-color: var(--color-main-25);
}
.card h4 {
    margin-top: 0;
}
.card > div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    flex-grow: 0;
    flex-shrink: 0;
}
.card button {
    flex-grow: 0;
    flex-shrink: 0;
}