.main {
    padding-bottom: 110px;
}

.main section {
    padding: 2rem;
    border: 1px solid var(--color-neutral-200);
    border-bottom: none;
}

.main section h4 {
    margin: 0;
    margin-bottom: 2rem;
}

.editContainer {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
}


.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.heading h2 {
    margin: 0;
    font-family: Kalam, Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
}

.naslov {
    border-bottom: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    white-space: pre-wrap;
    overflow-wrap: anywhere;
}
.naslov h3 {
    margin: 0;
}

.opisDiv {
    display: inline-block;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.vestina {
    background-color: var(--color-main-100);
    color: var(--color-main-700);
    padding: 0.65rem;
    border-radius: 100px;
    cursor: pointer;
}
.vestina:hover {
    background-color: var(--color-main-200);
}

.secVestine > div {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    border-bottom: 1px solid var(--color-neutral-200) !important;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media (width <= 600px) {
    .main {
        padding-inline: 0 !important;
        overflow: hidden;
    }
    .main section {
        border-radius: 0;
        border-inline: 0;
    }

    .heading {
        display: none;
    }

    .btnContainer {
        position: fixed;
        width: 100vw;
        bottom: 0;
        left: 0;
        padding: 1rem !important;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
}