

.mainCont {
    border-top: 1px solid var(--color-neutral-200);
    cursor: default;
    padding: 2rem 0;
}
.mainCont:hover {
    background-color: var(--color-main-25);
}

.card {
    padding-inline: 2rem;
}

.card h4 {
    margin: 0;
    margin-bottom: 1rem;
}
.card > h4 > span {
    display: inline-block;
}

.firstRow {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;
}
.date {
    color: var(--color-neutral-400);
}

.card > div:last-child {
    margin-top: 2rem;
    color: var(--color-neutral-500);
}

.form {
    width: 46rem;
}
.form h4 {
    border-bottom: 1px solid var(--color-neutral-200);
    padding-bottom: .5rem;
}
.recenzija {
    margin-bottom: 3rem;
}
.recenzija p:first-child {
    font-weight: bold;
}
.recenzija > div {
    display: flex;
    column-gap: .5rem;
    align-items: center;
    margin-bottom: 1rem;
}
.recenzija > div > p {
    margin: 0;
}
.kaoHeading {
    font-weight: bold;
}