.aside {
    background-color: #faf4f0;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    height: max-content;
}

.firstSection {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: black;
    text-decoration: none;
}

.firstSection img {
    border-radius: 50%;
    width: 4rem;
}

.firstSection > div > p {
    margin: 0;
    transition: color 0.15s ease-in-out;
}

.firstSection:hover > div > p:first-child {
    color: var(--color-main-500);
}

.firstSection > div > p:first-child {
    font-weight: bold;
}
