@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* line-height: 24px; */
  /* font-weight: 400; */
  /* background-image: radial-gradient(ellipse at top left, #2b7a78, #17252a); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  /* font-size: 2.75rem; */
  font-size: clamp(2rem, 10vw, 2.75rem);
  margin-bottom: 4rem;
}

h2 {
  margin-bottom: 4rem;
  font-size: clamp(2rem, 8vw, 2.5rem);
}

h3 {
  margin-bottom: 4rem;
  font-size: clamp(1.25rem, 8vw, 1.75rem);
}

h4 {
  font-size: clamp(1.1rem, 8vw, 1.25rem)
}
 
p {
  line-height: 1.35rem;
  font-weight: 300;
}

body {
  padding-top: 96px;
  margin: 0;
  /* color: #e6ddf9; */
}


img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.mainButton {
  background-color: #f57624;
  /* color: #efded3; */
  color: white;
  padding: 1rem 1.75rem;
  border: none;
  /* border-radius: 10px; */
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
}

.mainButton:hover {
  background-color: #ca560c;
}

.mainButton:active {
  background-color: #8a3a06;
}

.mainButton:disabled {
  background-color: #c2c8d2;
  cursor: not-allowed;
}

.secondaryButton {
  background-color: #efded3;
  color: #f57624;
  padding: 1rem 1.75rem;
  border: none;
  /* border-radius: 10px; */
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
}

.secondaryButton:hover {
  background-color: #eee2db;
}

.secondaryButton:active {
  background-color: #f0e5df;
}

.link {
  background-color: none;
  /* color: #efded3; */
  color: black;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
  font-weight: 400;
  text-decoration: none;
  /* margin: auto; */
  border: none;
  background-color: none;
}

.link:hover {
  color: #f57624;
}

.link:active {
  color: #ca560c;
}

.secondLink {
  background-color: none;
  color: #f57624;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
  font-weight: 400;
  /* margin: auto; */
  border: none;
  background-color: none;
}

.secondLink:hover {
  color: #ca560c;
}

.secondLink:active {
  color: #8a3a06;
}

.blockMargins {
  margin: 5rem auto;
}


/* Checkbox stilovi, zakas jebiga */

/* Customize the label (the container) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 2px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  font-weight: 300 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #f5aa7a;
  border-radius: 3px;
  /* background-color: #eee; */
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  /* background-color: #ccc; */
  border-color: #f57624;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #f5aa7a;
  border-color: #f5aa7a;
}

/* On mouse-over when the checkbox is checked, add a different border color */
.checkbox:hover input:checked ~ .checkmark {
  border-color: #f57624; /* Border color when checked and hovered */
  background-color: #f57624;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  /* left: 9px;
  top: 5px; */
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

