.pError {
    color: #e5212c;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form {
  padding: 1rem;
  width: 30rem;
}

.form h3 {
    margin-bottom: 1.75rem;
}

.form label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.form input {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 7px;
  border: 2px solid #efded3;
  /* background-color: #efded3; */
  transition: all 0.15s ease-in-out;
}

.form label:nth-child(3) {
    margin-top: 3rem;
}

.form input:hover {
  border-color: #f5aa7a;
}

.form input:focus {
  outline: none;
  border-color: #f57624;
}

.btnContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}