.center {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-neutral-200);
    border-radius: 1rem;
    height: calc(100vh - 77px);
}

@media (width <= 600px) {
    .main > div {
        padding-inline: 0 !important;
        overflow: hidden;
    }
}
